.wrapper {
  --knob-size: 120px;

  padding-bottom: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  border-radius: .5em;
  margin-bottom: 1em;
}

.power,
.current-temperature {
  margin-top: .5em;
  font-weight: bold;
  font-size: clamp(.6rem, 3vw + .4em, 1rem);
  color: hsla(180, 28%, 55%, 0.7);
}

.current-temperature {
  margin-left: 1em;
  color: hsla(40, 30%, 58%, 0.684);
}

.knob-container {
  position: relative;
  user-select: none;
  --glow-color: #7800b8;
}

.knob-container::before {
  content: " ";
  position: absolute;
  width: var(--knob-size);
  height: var(--knob-size);
  border-radius: 50%;
}

.knob {
  width: var(--knob-size);
  height: var(--knob-size);
  position: relative;
  cursor: pointer;
}

.knob::before,
.knob::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background: #ffffff;
  box-shadow: 0 0 10px var(--glow-color);
  z-index: 1000;
}

.knob::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #FFF;
  width: 130%;
  height: 130%;
  box-shadow:
    0 0 6px var(--glow-color),
    inset 0 0 6px var(--glow-color);
  background-color: var(--glow-color);
}

.temperature {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px dimgray;
  color: white;
  font-weight: bold;
  letter-spacing: .05em;
  font-size: clamp(1.5rem, 2vw + .2em, 2rem);
}

/* Progress bar section (outer circle) */

.progress-circle {
  --dash-width: 527;
  --percentage: 18;
  --progress-color: hsl(30, 99%, 57%);

  position: absolute;
  width: 175%;
  height: 175%;

  transform: translate(-21.3%, -78.5%);
  z-index: -200;
}

.background-circle, .fill-circle {
  fill: transparent;
  stroke-width: 10;
}

.background-circle {
  stroke: #e0e0e0; /* Background color */
  stroke-opacity: .05;
}

.fill-circle {
  stroke: var(--glow-color); /* Progress bar color */
  stroke-dasharray: var(--dash-width);
  stroke-dashoffset: calc(var(--dash-width) - (var(--percentage) / 100) * var(--dash-width));
  stroke-opacity: .8;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.3s linear;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    --knob-size: 150px;
  }

  .knob::before {
    width: 9px;
    height: 9px;
  }
}