@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

img {
  height: 100%;
  width: 100%;
}

.widget-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em auto;
  box-shadow: 0 0 .1em slategray;
  border-radius: .5em;
}

.widget-top,
.widget-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em;
}

.widget-top p,
.widget-bottom p {
  margin: 0;
}

.widget-middle {
  --color-1: #052b2f;
  --color-2: #073438;
  --color-3: #f2f75d;
  --color-4: #f4e545;
  --color-5: #ffbb18;
  --borders-radius: .5em;

  padding: 0 2.5em;
}

.icon {
  max-width: 4em;
}

.prop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prop-container.horizontal {
  flex-direction: initial;
  justify-content: center;
  gap: .5em;
}

.prop-container > * {
  flex: 1;
}

.prop-value {
  font-weight: bold;
}

.hub {
  max-width: 15em;
}

.left-arrows,
.right-arrows {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.left-arrow {
  position: relative;
  height: 8em;
  overflow: hidden;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-5) 0deg 40deg,
    var(--color-3) 40deg 100deg,
    var(--color-5) 100deg 140deg,
    var(--color-3) 140deg 220deg,
    var(--color-5) 220deg 260deg,
    var(--color-3) 260deg 320deg
  );
  animation: rotation-to-the-left 10s linear infinite;
}

.right-arrow {
  position: relative;
  height: 8em;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-5) 0deg 40deg,
    var(--color-3) 40deg 80deg,
    var(--color-4) 80deg 180deg,
    var(--color-5) 180deg 240deg,
    var(--color-3) 240deg 280deg,
    var(--color-4) 280deg 340deg
  );
  animation: rotation-to-the-right 10s linear infinite;
}

.right-arrow::before,
.right-arrow::after,
.left-arrow::before,
.left-arrow::after {
  content: " ";
  position: absolute;
  inset: .1rem;
  left: -.1em;
  background: #FFF;
}

.left-arrow::before,
.left-arrow::after {
  inset: .1rem;
  right: -.1em;
}

.left-arrow.top::before,
.left-arrow.top::after,
.right-arrow.top::before,
.right-arrow.top::after {
  top: -.2em;
}

.left-arrow.bottom::before,
.left-arrow.bottom::after,
.right-arrow.bottom::before,
.right-arrow.bottom::after {
  bottom: -.2em;
}

/* If it needs to invert the animation of bottom arrows */

/* .right-arrow.bottom {
  animation: rotation-to-the-left 10s linear infinite;
}

.left-arrow.bottom {
  animation: rotation-to-the-left 10s linear infinite;
} */


/*Left arrows' rounded borders*/
.left-arrow:nth-child(1) {
  border-bottom-left-radius: var(--borders-radius);
}

.left-arrow:nth-child(2) {
  border-top-left-radius: var(--borders-radius);
}

.left-arrow.top::after,
.left-arrow.top::before {
  border-bottom-left-radius: var(--borders-radius);
}

.left-arrow.bottom::after,
.left-arrow.bottom::before {
  border-top-left-radius: var(--borders-radius);
}

/*Right arrows' rounded borders*/
.right-arrow:nth-child(1) {
  border-bottom-right-radius: var(--borders-radius);
}

.right-arrow:nth-child(2) {
  border-top-right-radius: var(--borders-radius);
}

.right-arrow.top::after,
.right-arrow.top::before {
  border-bottom-right-radius: var(--borders-radius);
}

.right-arrow.bottom::after,
.right-arrow.bottom::before {
  border-top-right-radius: var(--borders-radius);
}


@keyframes rotation-to-the-right {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

@keyframes rotation-to-the-left {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: -360deg; }
}





